<h1>To Do</h1>
<div class="container">

    <fieldset class="form-group">
        <label>Description</label>
        <input type="text" [(ngModel)]="toDo.description" class="form-control" name="description" required="required"> 
    </fieldset>

    <fieldset class="form-group">
        <label>Target Date</label>
        <input type="date" 
            [ngModel]="toDo.targetDate | date:'yyyy-MM-dd'" 
            (ngModelChange)="toDo.targetDate = $event"
            class="form-control" 
            name="targetDate" 
            required="required"> <!-- change format of targetDate -->
    </fieldset>

    <button class="btn btn-success" (click)="saveToDo()">Save</button>

</div>
